/* main background colour #E5E5E5 */
/* footer background colour #2F303A */
/* main <h> colour #212121 */
/* main text colour #757575 */
/* accent color #2196F3 */
:root {
  --accent-background: #2f303a;
  --secondary-background: #f5f4fa;
  --background-main: #ffffff;
  --primary-font-family: "Roboto", sans-serif;
  --hero-background: #c4c4c4;

  --accent-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --secondary-title-color: #ffffff;

  --footer-contaks-color: rgba(255, 255, 255, 0.6);
  
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* base styles */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

h2,
h3,
h4 {
  color: var(--title-color);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
ul {
  list-style: none;
}
img {
  display: block;
}

/* main */

.color {
  background-color: var(--background-main);
}

/* button */

button {
  background-color: #f5f4fa;
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  cursor: pointer;

  border-radius: 4px 4px 4px 4px;
  border: 0px;
  padding: 6px 22px 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
button:hover,
button:focus,
button.active {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--secondary-title-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
}

/* header */

header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  justify-content: space-between;
}
header a {
  display: inline-block;
  padding: 32px 0px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  color: #212121;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
header .logo {
  padding: 24px 0px 25px;
}
.logo span {
  color: var(--accent-color);
  font-weight: 700;
}
.list {
  display: flex;
}

nav a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative; 
}

nav a:not(.logo):hover,
nav a:not(.logo):focus,
nav a:not(.logo).active,
.contact-links a:hover,
.contact-links a:focus {
  color: var(--accent-color);
}


.header-nav {
  display: flex;
  margin-left: 93px;
}

.contact-links {
  display: flex;
}
.contact-links li {
  display: flex;
}

.contact-links a {
  display: flex;
}

.header-nav a.active::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;

  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;

}

.email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  margin-top: 2px;
  fill: currentColor;
  

 
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-email:hover,
.icon-smarphone:hover {
  fill: var(--accent-color);
}

.header-nav li:not(:last-child) {
  margin-right: 50px;
}

.contact-links li:not(:last-child) {
  margin-right: 50px;
}

.contact-links a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 10px;

  
  
}

/* hero styles */

.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
 height: 600px;
  background-color: var(--hero-background);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.hero {
  background-image: linear-gradient(
   to right, 
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
 ), 
 url(../images/icons/hero.jpg),
 url(../images/icons/img_overlay.jpg); 
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero .container {
  flex-direction: column;
}

.after-hero {
  margin-left: 215px;
}

.icons {
  background-color: var(--secondary-background);
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  border-radius: 4px;
}

/* модальное окно */

.modal-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  margin: 0;
  padding: 0px;
  
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 1024px;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  cursor: pointer;
  visibility: hidden;

}
.modal {
  position: absolute; 
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;
  background-color: #ffffff;
  
}
.modal-style {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0%;
  margin: 8px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center; 

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-style:active,
.modal-style:focus,
.modal-style:hover {
  background-color: #ffffff;
} 

/* quality */

.quality-container {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quality {
  padding-top: 94px;
  padding-bottom: 47px;
}

.quality ul {
  display: flex;
}
.quality li {
  width: 270px;
}
.quality li:not(:last-child) {
  margin-right: 30px;
}

/* what-we-do */

.what-we-do {
  padding-bottom: 94px;
  padding-top: 47px;
}

.what-we-do .container {
  flex-direction: column;
}
.what-we-do h2 {
  margin-bottom: 50px;
}
.what-we-do ul {
  display: flex;
 
}
.what-we-do li:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.what-we-do li {
  position: relative;
}

.what-we-do li .label {
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  padding: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* team */

.team {
  text-align: center;
  background-color: var(--secondary-background);

  padding-top: 94px;
  padding-bottom: 94px;
}
.team h2 {
  margin-bottom: 50px;
}

.team h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team p {
  font-size: 16px;
  line-height: 1.2;
}

.team ul {
  display: flex;
}

.team .container {
  flex-direction: column;
}

.team-container {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team li {
  background-color: var(--secondary-title-color);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team li:not(:last-child) {
  margin-right: 30px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social-links li:not(:last-child) {
  margin-right: 10px;
}

.social-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/* works */

.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works .container {
  flex-direction: column;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.tab-buttons li:hover{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.tab-buttons li:not(:last-child) {
  margin-right: 8px;
}

.works p {
  font-size: 16px;
  line-height: 1.9;
}

.works a {
  color: var(--title-color);
}

/* our-directions */

.our-directions {
  display: flex;
  flex-wrap: wrap;
}
.our-directions a{
  display: flex;
  flex-direction: column;
  position: relative;
}
.directions-container a:hover,
.directions-container a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-wrapper {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.our-directions li {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.our-directions .image-wrapper {
  overflow: hidden;
  position: relative;
}
.our-directions a .overlay-direction {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding: 63px 24px;
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.directions-container a {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.direction-container a:hover, 
.direction-container a:focus  {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
   0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px
   rgba(0, 0, 0, 0.16);
}
.direction-container a:focus {
  outline : none;
}
.name-wrapper {
  padding: 30px;
}

.our-directions li:nth-child(3n + 3) {
  margin-right: 0px;
}
.our-directions li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.our-directions a {
  display: flex;
  flex-direction: column;
}

.our-directions h3 {
  margin-bottom: 4px;
}

.image-wrapper {
  position: relative;
  align-items: center;
  overflow: hidden;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
}
.our-directions .overlay-direction p {

  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  opacity: 1;
}
.our-directions a:hover .overlay-direction {
  transform: translateY(0);
}

/* partners */

.partners {
  margin: 94px 0px;
}

.partners h2 {
  margin-bottom: 50px;
}

.partners-links {
  display: flex;
}

.partners-links li:not(:last-child) {
  margin-right: 30px;
}

.partners-links a {
  justify-content: center;
  align-items: center;
  display: flex;
  fill: #afb1b8;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-links a:hover,
.partners-links a:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* footer */

footer {
  background-color: var(--accent-background);
  font-family: var(--primary-font-family);
  padding: 60px 0px 60px 0px;
}

footer .container {
  display: flex;
  align-items: baseline;
}

footer .container:last-child li{
  margin-top: 9px;
}

footer .footer-social-links:last-child li{
  margin-top: 0px;
}

footer address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .container li {
  display: flex;
  align-items: baseline;
  margin-top: 9px;
}

footer .logo {
  display: flex;
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 0px;
}

footer .logo span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

footer .group {
  margin-right: 70px;
}

footer span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
footer a {
 
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contaks-color);

}

.footer-networks {
  width: 206px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 

}

.footer-networks p{
  font-weight: 700;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6;
  color: var(--secondary-title-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0px;
}


/* footer-social */

.footer-social-links {
  display: flex;
  justify-content: space-between;
}

.footer-social-links li {
  width: 44px;
  height: 44px;
}
.footer-social-links a {
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-links li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-button:hover,
.footer-social-button:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}